<bf-button [type]="'primary'" [size]="'small'">
  button text
</bf-button>

<br />
<br />

<bf-button [type]="'primary'" [size]="'medium'" [full]="true">
  i want this loan
</bf-button>

<br />
<br />

<bf-button [type]="'primary'" [size]="'large'">
  ok
</bf-button>

<br />
<br />

<bf-button [type]="'transparent-dark'" [size]="'small'">
  test button
</bf-button>

<br />
<br />

<bf-button [type]="'transparent-dark'" [size]="'large'">
  button text
</bf-button>

<br />
<br />

<bf-button [type]="'transparent-dark'" [size]="'medium'">
  button text
</bf-button>

<br />
<br />

<div style="background-color: #51504f; padding: 30px 20px;">
  <bf-button [type]="'transparent-light'" [size]="'small'">
    button text
  </bf-button>

  <br />
  <br />

  <bf-button [type]="'transparent-light'" [size]="'large'">
    ok
  </bf-button>

  <br />
  <br />

  <bf-button [type]="'transparent-light'" [size]="'medium'">
    button text
  </bf-button>
</div>