button{
  text-align: center;   
  outline: none;
  user-select: none;
  text-transform: capitalize;
  cursor: pointer;

  &.small {
    min-width: 100px;
    height: 36px;
    font-size: 16px;
    padding: 0 16px;
    border: 0;
    border-radius: 4px;

    &.transparent-dark:hover, &.transparent-light:hover {
      padding: 0 15px;
    }

    &.transparent-dark:active, &.transparent-light:active {
      padding: 0 16px;
    }
  }

  &.medium {
    min-width: 120px;
    height: 50px;
    font-size: 20px;
    padding: 0 25px;
    border: 0;
    border-radius: 4px;

    &.transparent-dark:hover, &.transparent-light:hover{
      padding: 0 24px;
    }

    &.transparent-dark:active, &.transparent-light:active {
      padding: 0 25px;
    }
  }

  &.large {
    min-width: 140px;
    height: 64px;
    font-size: 20px; 
    padding: 0 34px;
    border: 0;
    border-radius: 4px;

    &.transparent-dark:hover, &.transparent-light:hover{
      padding: 0 33px;
    }

    &.transparent-dark:active, &.transparent-light:active {
      padding: 0 34px;
    }
  }

  &.full-width {
    min-width: 100%;
  }

  &.primary {
    font-family: 'ProximaNova-Bold';
    background-color: #ff7535;
    background-image: linear-gradient(-180deg, rgba(255, 255, 255, .1), rgba(0, 0, 0, .1));
    color: white;
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, .1);
    border-left: 1px #d16d3f solid;
    border-right: 1px #d16d3f solid;

    &:hover {
      box-shadow: inset 0 -4px 0 rgba(0, 0, 0, .08);
      border-radius: 4px;
      border: 1px #8983d7 solid;
      transition: 0.2s;
    }

    &:active {
      box-shadow: inset 0 4px 2px rgba(0, 0, 0, .1);
      transition: 0.3s;
    }
  }

  &.transparent-dark {
    font-family: 'ProximaNova-Regular';
    color: #8983D7;
    border: 1px #8983D7 solid;
    background: none;
    box-shadow: 0px 0px 0px #8983D7;

    &:hover {
      box-shadow: inset 0px 0px 0px #8983D7;
      border: 2px #8983D7 solid;
      transition: 0.5s;
    }

    &:active {
      box-shadow: inset 0 2px 10px rgba(0, 0, 0, .1);
      border: 1px #8983D7 solid;
      transition: 0.5s;
    }
  }

  &.transparent-light {
    font-family: 'ProximaNova-Regular';
    color: #ffffff;
    border: 1px #ffffff solid;
    background: none;
    box-shadow: inset 0 0 0 rgba(255, 255, 255, 0);

    &:hover {
      box-shadow: inset 0 0 0 rgba(255, 255, 255, 0);
      border: 2px #8983D7 solid;
      transition: 0.5s;
    }

    &:active {
      box-shadow: inset 0 4px 3px rgba(255, 255, 255, 0.2);
      border: 1px #ffffff solid;
      transition: 0.5s;
    }
  }
}

